@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-plk-navy text-plk-white font-sans antialiased font-light;
    /* Inter 300 is light */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif font-medium;
    /* Source Serif 4 500 is medium */
  }
}

/* Custom utilities if needed */
.text-balance {
  text-wrap: balance;
}